*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li{
    font-size: 17px;
}

ul{
    color: red;
}

h1{
    margin: 10px;
    padding: 10px;
    color: brown;
    text-align: center;
}

h2{
    margin: 20px;
    padding: 20px;
    color: green;
}

.text1, .text2, .website{
    width: 50%;
    list-style-type: lower-greek;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.website{
    box-shadow: 5px 3px 4px 5px black;
}

span{
    color: red;
    font-size: 20px;
}

img{
    width: 50;
    height: 50;
    background-position: right;
    background-size: cover;
    background-repeat: repeat;
}